# Build
build/
build_mpp/
build_mpp_test/

cmake-build-*/
*.o

# Executable
bin/
webrtc_push_demo

# IDE
.idea/
.vscode/
*.swp
*.swo

# Config (keep example)
config/config.json

# Logs
*.log

# 本地调试/测试输出目录
nv12_debug/
nv12_gst_success/
nv12_gst_test/
nv12_test_output/
